
services:
  dev:
    build: .
    volumes:
      - .:/app
      - ./ptimeout/dist:/app/ptimeout/dist
  
  test:
    build: .
    command: ["python", "-m", "unittest", "discover", "tests"]
    volumes:
      - .:/app
