
services:
  dev:
    build: .
    environment:
      - WATCHER_RESTART_DELAY=1.0
    volumes:
      - ./src:/app/src
      - ./scripts:/app/scripts
      - ./src/ptimeout/dist:/app/src/ptimeout/dist
  
  test:
    build: .
    command: ["python", "-m", "unittest", "discover", "tests"]
    volumes:
      - .:/app
